extends layout

block content
	.container-fluid
		.row
			#wxx-titlebar
				h1= title
		.row(data-ng-controller='charsController')
			#wxx-charlist
				input.form-control(type='text',placeholder='search...',data-ng-model='search',data-ng-change='updateCharList()')
				table.table.table-striped.table-hover
					thead
						tr
							th.col-md-2.text-center= 'Char'
							th.col-md-10= 'Details'
					tbody
						tr(data-ng-repeat='char in chars',data-ng-click='selectChar(char)')
							td.text-center
								span.wxx-char(data-ng-class='"wxx-accent-" + char.accent')= '{{char.char}}'
							td
								span.wxx-pinyin= '{{char.pinyin}}'
								span(data-ng-repeat='translation in char.translations.fr')= ' {{translation}}'
			#wxx-thechar(data-ng-hide='char===undefined')
				form.form-horizontal
					#wxx-chardisplay
						.panel(data-ng-class='"wxx-accent-" + char.accent')
							.panel-heading.text-center
								strong.panel-title= '{{char.pinyin}}'
							.panel-body.text-center
								p.wxx-char(data-ng-class='"wxx-accent-" + char.accent')= '{{char.char}}'
					#wxx-chardetails
						.form-group
							label.control-label.col-md-3= 'Character'
							.col-md-9
								span.form-control.no-edit.wxx-char(data-ng-class='"wxx-accent-" + char.accent',data-ng-hide='edit.char',data-ng-dblclick='edit.char=true')= '{{char.char}}'
								.input-group(data-ng-show='edit.char')
									input.form-control(data-ng-model='char.char')
									span.input-group-addon(data-ng-click='edit.char=false')
										i.fa.fa-fw.fa-check
									span.input-group-addon
										i.fa.fa-fw.fa-times
						.form-group
							label.control-label.col-md-3= 'Pinyin'
							.col-md-9
								span.form-control.no-edit(data-ng-hide='edit.pinyin',data-ng-dblclick='edit.pinyin=true')= '{{char.pinyin}}'
								.input-group(data-ng-show='edit.pinyin')
									input.form-control(data-ng-model='char.pinyin')
									span.input-group-addon(data-ng-click='edit.pinyin=false')
										i.fa.fa-fw.fa-check
									span.input-group-addon
										i.fa.fa-fw.fa-times
						.form-group
							label.control-label.col-md-3= 'Accent'
							.col-md-9
								span.form-control.no-edit(data-ng-hide='edit.accent',data-ng-dblclick='edit.accent=true')= '{{char.accent | myAccent }}'
								.input-group(data-ng-show='edit.accent')
									.btn-group
										button.btn(data-ng-repeat='num in [0,1,2,3,4]',data-ng-class='(char.accent===num)?"btn-primary":"btn-default"',data-ng-click='char.accent=num;edit.accent=false')= '{{num | myAccent }}'
					#wxx-chartranslations
						label.control-label= 'Translations'
						ol
							li(data-ng-repeat='t in char.translations.fr')= '{{t}}'
