extends layout

block content
	.container-fluid
		.row
			#wxx-titlebar
				h1= title
		.row(data-ng-controller='listOfWordsController')
			#wxx-wordslist(data-ng-class='(theword!==undefined)?"hidden-xs":""')
				p.text-right
					button.btn.btn-primary(data-ng-click='new()')
						span= 'New character'
							span.fa.fa-fw.fa-plus
				form(name='searchForm')
					input.form-control(name='searchInput',type='text',placeholder='search...',data-ng-model='searchstring',data-ng-change='search(searchstring)')
				table
					thead
						tr
							th= 'Word'
							th= 'Translations'
					tbody
						tr(data-ng-repeat='theword in listofwords',data-ng-click='selectWord(theword)')
							td
								span.wxx-charblock(data-ng-repeat='char in theword.chars')
									.wxx-char(data-ng-class='"wxx-accent-" + char.accent')= '{{ char.char?char.char:"\u25A2" }}'
									.wxx-pinyin= '{{ char.pinyin | pinyinFilter:char.accent }}'
							td
								span(data-ng-repeat='translation in theword.translations.fr')= '{{ ($last)?translation:(translation + "; ") }}'
			#wxx-theword(data-ng-hide='theword===undefined')
				button#wxx-tolist.visible-xs(data-ng-click='theword=undefined')
					span.fa.fa-list
				#wxx-worddisplay
					.panel.panel-default
						.panel-body.text-center
							span.wxx-charblock(data-ng-repeat='thechar in theword.chars',data-ng-click='edit.char=$index',data-ng-class='(edit.char===$index)?"wxx-charblock-selected":""')
								.wxx-char(data-ng-class='"wxx-accent-" + thechar.accent')= '{{ thechar.char?thechar.char:"\u25A2" }}'
								.wxx-pinyin= '{{ thechar.pinyin?(thechar.pinyin | pinyinFilter:thechar.accent):"none" }}'
							form.form-horizontal(data-ng-repeat='thechar in theword.chars',name='charForm',data-ng-show='edit.char!==undefined')
								div(data-ng-show='edit.char===$index')
									.form-group
										label.control-label.col-xs-12.col-md-4(for='charInput')= 'Character'
										.col-xs-12.col-md-8
											input.form-control(name='charInput',data-ng-model='thechar.char',required,placeholder='ex: 三')
									.form-group
										label.control-label.col-xs-12.col-md-4(for='pinyinInput')= 'Pinyin'
										.col-xs-12.col-md-8
											input.form-control(name='pinyinInput',data-ng-model='thechar.pinyin',required,placeholder='ex: san')
									.form-group
										label.control-label.col-xs-12.col-md-4= 'Accent'
										.col-xs-12.col-md-8
											.btn-toolbar
												.btn-group
													button.btn(data-ng-repeat='num in [0,1,2,3,4]',data-ng-class='(thechar.accent===num)?"btn-primary":"btn-default"',data-ng-click='thechar.accent=num')
															strong= '{{ num | accentFilter }}'
							.btn-toolbar.text-center(data-ng-click='edit.char=undefined',data-ng-show='edit.char!==undefined')
								button.btn.btn-default(data-ng-click='update(theword)')
									span.fa.fa-fw.fa-save
									span.hidden-xs= 'Update'
								button.btn.btn-default(data-ng-click='cancel(theword)')
									span.fa.fa-fw.fa-undo
									span.hidden-xs= 'Cancel'
								button.btn.btn-danger(data-ng-click='delete(theword)')
									span.fa.fa-fw.fa-trash
									span.hidden-xs= 'Delete'
				#wxx-wordtranslations
					label.control-label= 'Translations'
					ol
						li(data-ng-repeat='t in theword.translations.fr')= '{{ t }}'
