extends layout

block content
	.container-fluid
		.row
			#wxx-titlebar
				h1= title
		.row(data-ng-controller='listOfWordsController')
			#wxx-wordslist(data-ng-class='(theword!==undefined)?"hidden-xs":""')
				form(name='searchForm')
					input.form-control(name='searchInput',type='text',placeholder='search...',data-ng-model='searchstring',data-ng-change='search(searchstring)')
				table
					thead
						tr
							th= 'Word'
							th= 'Translations'
					tbody
						tr(data-ng-repeat='theword in listofwords',data-ng-click='selectWord(theword)')
							td
								span.wxx-charblock(data-ng-repeat='char in theword.chars')
									.wxx-char(data-ng-class='"wxx-accent-" + char.accent')= '{{ char.char?char.char:"\u25A2" }}'
									.wxx-pinyin= '{{ char.pinyin | pinyinFilter:char.accent }}'
							td
								span(data-ng-repeat='translation in theword.translations.fr')= '{{ ($last)?translation:(translation + "; ") }}'
			#wxx-theword(data-ng-controller='wordController')
				button#wxx-tolist.visible-xs(data-ng-click='theword=undefined')
					span.fa.fa-list
				p.text-left
					button.btn.btn-primary(data-ng-click='new()')
						span= 'New word'
							span.fa.fa-fw.fa-plus
				#wxx-worddisplay(data-ng-hide='theword===undefined')
					.panel.panel-default
						.panel-body.text-center
							span.wxx-charblock(data-ng-repeat='thechar in theword.chars',data-ng-click='edit($index)',data-ng-class='(isEdit($index))?"wxx-charblock-selected":""')
								.wxx-char(data-ng-class='"wxx-accent-" + thechar.accent')= '{{ thechar.char?thechar.char:"\u25A2" }}'
								.wxx-pinyin= '{{ thechar.pinyin?(thechar.pinyin | pinyinFilter:thechar.accent):"none" }}'
							form.form-horizontal(data-ng-repeat='thechar in theword.chars',name='charForm',data-ng-show='isEdit()')
								div(data-ng-show='isEdit($index)')
									.form-group
										.btn-group
											button.btn.btn-default(data-ng-click='add($index)')
												span.fa.fa-fw.fa-chevron-left
												span.hidden-xs= 'Add'
											button.btn.btn-danger(data-ng-show='theword.chars.length>1',data-ng-click='delete($index)')
												span.hidden-xs= 'Delete'
												span.fa.fa-fw.fa-trash
											button.btn.btn-default(data-ng-click='add($index+1)')
												span.hidden-xs= 'Add'
												span.fa.fa-fw.fa-chevron-right
									.form-group
										label.control-label.col-xs-12.col-md-4(for='charInput')= 'Character'
										.col-xs-12.col-md-8
											input.form-control(name='charInput',data-ng-model='thechar.char',required,placeholder='ex: 三')
									.form-group
										label.control-label.col-xs-12.col-md-4(for='pinyinInput')= 'Pinyin'
										.col-xs-12.col-md-8
											input.form-control(name='pinyinInput',data-ng-model='thechar.pinyin',required,placeholder='ex: san')
									.form-group
										label.control-label.col-xs-12.col-md-4= 'Accent'
										.col-xs-12.col-md-8
											.btn-toolbar
												.btn-group
													button.btn(data-ng-repeat='num in [0,1,2,3,4]',data-ng-class='(thechar.accent===num)?"btn-primary":"btn-default"',data-ng-click='thechar.accent=num')
															strong= '{{ num | accentFilter }}'
							.btn-toolbar.text-center(data-ng-click='edit(undefined)',data-ng-show='isEdit()')
								button.btn.btn-default(data-ng-click='update(theword)')
									span.fa.fa-fw.fa-save
									span.hidden-xs= 'Update'
								button.btn.btn-default(data-ng-click='cancel(theword)')
									span.fa.fa-fw.fa-undo
									span.hidden-xs= 'Cancel'
								button.btn.btn-danger(data-ng-click='delete(theword)')
									span.fa.fa-fw.fa-trash
									span.hidden-xs= 'Delete'
					#wxx-wordtranslations
						label.control-label= 'Translations'
						ol
							li(data-ng-repeat='t in theword.translations.fr')= '{{ t }}'
